In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from IPython.display import display

In [5]:
df = pd.read_excel(r'C:\Users\balas\Downloads\ttc-subway-delay-data-2024.xlsx', engine='openpyxl')

In [13]:
max_date = df['Date'].max()
print("The maximum date is:", max_date)

The maximum date is: 2024-09-30 00:00:00

In [20]:
df.iloc[:1]

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2024-01-01,02:00,Monday,SHEPPARD STATION,MUI,0,0,N,YU,5491